/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

#title-team{
    font-size: 35px;
    color: crimson;
    text-align: center;
}

.container{
    margin: 0 auto;
}
