/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 30px;
    max-height: 900px;
}

/*titolo e sotto-titolo*/

#title-team{
    font-size: 35px;
    color: crimson;
    text-align: center;
    font-weight: 700;
}

.sub-title{
    font-weight: 400;
    margin-top: 40px;
    margin-left: 25px;
    text-align: center;
}

/*linee e colonne*/

.column > img{
    max-height: 100px;
    background-color: red ;
    float: left;
}

.column{
    height: 100px;
    width: calc(100% / 3 - 30px) ;
    float: left;
    margin-left: 30px;
    background-color: rgb(17, 17, 49);
    color: white;
}

.container-cards{
    margin-top: 40px;
}

p.text-team{
    margin-top:10px;
    margin-left: 115px;
    font-weight: bold;
}

div > p{
    margin-top:10px;
    margin-left: 115px;
}

a.email{
    margin-left: 115px;
    margin-top: 7px;
    display: block;
    text-decoration: none;
    color: aqua;
}

.line{
    overflow: auto;
    margin-top: 40px;
}