/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 30px;
}

/*titolo e sotto-titolo*/

#title-team{
    font-size: 35px;
    color: crimson;
    text-align: center;
    font-weight: 700;
}

.sub-title{
    font-weight: 400;
    margin-top: 40px;
    text-align: center;
}

/*linee e colonne*/

.column > img{
    max-height: 100px;
    background-color: red ;
    float: left;
}

.column{
    height: 100px;
    width: calc(100% / 3 - 20px) ;
    float: left;
}